/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  align-items: center;
  justify-content: center;
  background: #efefef;
}
.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.h6{
  font-size: 15px;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: #fff;
  border-radius: 8px;
}
.card .image-box {
  height: 200px;
}
.card .image-box img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}
body {
  background-image: url("2.jpg");
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #000000;
}

.student-profile .card {
  border-radius: 20px;
  background-color: rgba(230, 226, 226, 0.3);
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 20px auto;
  border: 10px solid rgba(230, 226, 226, 0.3);
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 400;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.img-container{
  border-radius: 20px;
}
.container img{
  width: 80%;
  height: 80%
}

.navbar {
  background-color: #000000;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1;
}
.navbar a {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  padding: 0 10px; /* Add padding between links */
}

.navbar a:hover {
  background-color: #F9A5C0;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  font-weight: bold;
  color:white;
  margin-right: 20px; /* Adjust as needed */
}

.nav-links img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


.search-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  z-index: 2; 
}

.search-container form {
  display: inline-block;
  margin: 0;
}

.search-container label {
  display: none;
}

.search-container input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 16px;
  width: 300px;
  margin-right: 8px;
}
.h4{
  display: flex;
}

.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-popup {
  float: right;
  cursor: pointer;
  font-weight: bold;
}

.profile_img {
  cursor: pointer;
}
