@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    font-family: 'poppins' ,sans-serif;
}
nav{
    background: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    margin-left:-10px
}
body{
    background-image: url("images/2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

span{
    color: #3366CC;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
header{
    color: #000000;
    font-size: 35px;
    font-weight: 750;
    display: flex;
    justify-content: center;
}

.input-field .input{
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #000000;
    font-size: 15px;
    padding: 0 0 0 45px;
    background: rgba(255,255,255,0.3);
    outline: none;
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #000000;
}
::-webkit-input-placeholder{
    color: #979797;
}
.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255,255,255);
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    font-size: small;
    margin-top: 10px;
}
.one{
    display: flex;
}
label a{
    text-decoration: none;
    color: #3366CC;
}

.logo{
    width: 20px;
    height: 20px;
    margin: 10px;
    padding: 15px;
}

.user-pic{
    width: 40px;
    padding: 20px;
}

nav ul{
    width: 100%;
    text-align: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px 10px;
    margin-bottom: 0px;   
}
.name{
    color:white;
}
